.melancia{
  height: 100%;
  width: 100%;
}

.morango{
  height: 100%;
  width: 100%;
}

.laranja{
  padding-left: 10%;
}

.uva{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 200%;
}

.acerola{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  font-size: 150%;
}